.staff-list {
  padding: 50px 0;

  &__title {
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-between;

    &::after {
      content: "";
      flex: auto;
    }
  }
}
