.formik-input {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  &__error {
    margin-left: 10px;
  }
}

.input {
  border: none;
  border-bottom: 1px solid #ccc;

  padding: 0 10px;

  height: 40px;

  outline: transparent;

  font-size: 16px;

  margin-bottom: 5px;

  &::placeholder {
    color: #b1b0b0;
  }

  &.error {
    border-bottom: 1px solid tomato;
  }
}
