@import 'constants/colors.scss';

.employee-page {
  width: 100%;
  height: 100vh;

  &__content {
    display: flex;

    align-items: stretch;

    width: 1000px;
    height: 610px;
    overflow: hidden;
  }

  &__image {
    width: 300px;
    object-fit: cover;
  }

  &__description {
    flex: 1;

    padding: 40px;
  }

  &__name {
    margin: 0;
    font-size: 40px;
  }

  &__comments {
    &-title {
      font-size: 20px;
    }
  }

  &__button {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.comments {
  padding: 10px 0;
  height: 250px;

  overflow-y: scroll;
}
