@import 'constants/colors.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  letter-spacing: 0.03em;
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Global classes */

.container {
  width: 1300px;
  padding: 0 50px;

  margin: 0 auto;
}

.flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

.fww {
  flex-wrap: wrap;
}

.text {
  &_size-20 {
    font-size: 20px;
  }

  &_bold {
    font-weight: bold;
  }

  &_color {
    &-error {
      color: tomato;
    }
  }
}

.box {
  box-shadow: 0px 2px 6px $shadow;
  border-radius: 8px;
}

// margins

.m {
  &-0 {
    margin: 0;
  }

  &b {
    &10 {
      margin-bottom: 20px;
    }

    &20 {
      margin-bottom: 20px;
    }

    &30 {
      margin-bottom: 30px;
    }

    &40 {
      margin-bottom: 40px;
    }
  }

  &r {
    &10 {
      margin-right: 20px;
    }

    &20 {
      margin-right: 20px;
    }

    &30 {
      margin-right: 30px;
    }

    &40 {
      margin-right: 40px;
    }
  }
}